.App-logo {
  height: 80px;
}

.App-header {
  background-color: #88bb40;
  height: 75px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-title {
  font-size: 4em;
  margin-left: 20px;
}

.App-body {
  font-size: large;
  width: 800px;
  margin: auto auto;
}

form {
  margin-bottom: 10px;
}

.error-message {
  color: red;
  font-size: 0.7em;
}

.success-message {
  color: green;
  font-size: 0.7em;
}
